USE [master]
GO
/****** Object:  Database [FMAppDb]    Script Date: 8/25/2025 11:30:42 AM ******/
CREATE DATABASE [FMAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FMAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FMAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FMAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FMAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FMAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FMAppDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/25/2025 11:30:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueHistory]    Script Date: 8/25/2025 11:30:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueHistory](
	[IssueHistory_Id] [int] IDENTITY(1,1) NOT NULL,
	[IssueId] [int] NOT NULL,
	[Action] [varchar](max) NOT NULL,
	[PerformedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_IssueHistory] PRIMARY KEY CLUSTERED 
(
	[IssueHistory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueImage]    Script Date: 8/25/2025 11:30:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueImage](
	[IssueImage_Id] [int] IDENTITY(1,1) NOT NULL,
	[FilePath] [varchar](max) NOT NULL,
	[UploadedAt] [datetime] NOT NULL,
	[IssueId] [int] NOT NULL,
 CONSTRAINT [PK_IssueImage] PRIMARY KEY CLUSTERED 
(
	[IssueImage_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issues]    Script Date: 8/25/2025 11:30:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issues](
	[Issue_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[City] [nvarchar](255) NULL,
	[CreatedByID] [int] NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[Priority] [char](10) NOT NULL,
	[AssignedToId] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Issues] PRIMARY KEY CLUSTERED 
(
	[Issue_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/25/2025 11:30:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[LastIp] [nvarchar](max) NULL,
	[Department] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250815111121_InitialCreate', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250815125713_MakeLastIpNullable', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250815125900_AddLastIpToUser', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[IssueHistory] ON 

INSERT [dbo].[IssueHistory] ([IssueHistory_Id], [IssueId], [Action], [PerformedAt]) VALUES (1, 15, N'Issue created', CAST(N'2025-08-19T09:57:09.523' AS DateTime))
INSERT [dbo].[IssueHistory] ([IssueHistory_Id], [IssueId], [Action], [PerformedAt]) VALUES (2, 16, N'Issue created', CAST(N'2025-08-19T09:59:29.137' AS DateTime))
INSERT [dbo].[IssueHistory] ([IssueHistory_Id], [IssueId], [Action], [PerformedAt]) VALUES (3, 17, N'Issue created', CAST(N'2025-08-19T10:01:10.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[IssueHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueImage] ON 

INSERT [dbo].[IssueImage] ([IssueImage_Id], [FilePath], [UploadedAt], [IssueId]) VALUES (1, N'/Uploads/Issues/71e3129d-e083-42dd-bd02-a71ee6f26fb2.jpg', CAST(N'2025-08-19T10:01:10.597' AS DateTime), 17)
INSERT [dbo].[IssueImage] ([IssueImage_Id], [FilePath], [UploadedAt], [IssueId]) VALUES (2, N'/Uploads/Issues/678037c2-ee69-4b77-b577-170b734a0910.jpg', CAST(N'2025-08-19T10:29:09.483' AS DateTime), 18)
INSERT [dbo].[IssueImage] ([IssueImage_Id], [FilePath], [UploadedAt], [IssueId]) VALUES (3, N'/Uploads/Issues/test.png', CAST(N'2025-08-21T09:54:57.673' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[IssueImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Issues] ON 

INSERT [dbo].[Issues] ([Issue_Id], [Title], [Description], [Status], [City], [CreatedByID], [Department], [Priority], [AssignedToId], [CreatedAt]) VALUES (11, N'Printer not working', N'The office printer is jammed', N'Pending', NULL, -3, N'IT', N'High      ', 3, CAST(N'2025-08-19T09:32:29.520' AS DateTime))
INSERT [dbo].[Issues] ([Issue_Id], [Title], [Description], [Status], [City], [CreatedByID], [Department], [Priority], [AssignedToId], [CreatedAt]) VALUES (12, N'Printer not working', N'The office printer is jammed', N'Pending', NULL, -3, N'IT', N'High      ', NULL, CAST(N'2025-08-19T09:42:04.820' AS DateTime))
INSERT [dbo].[Issues] ([Issue_Id], [Title], [Description], [Status], [City], [CreatedByID], [Department], [Priority], [AssignedToId], [CreatedAt]) VALUES (13, N'Printer not working', N'The office printer is jammed', N'Pending', NULL, -3, N'IT', N'High      ', NULL, CAST(N'2025-08-19T09:45:07.337' AS DateTime))
SET IDENTITY_INSERT [dbo].[Issues] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [LastLogin], [IpAddress], [LastIp], [Department]) VALUES (-4, N'manager', N'1234', N'Manager', CAST(N'2025-08-25T06:17:29.5800000' AS DateTime2), N'0.0.0.0', N'::1', N'')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [LastLogin], [IpAddress], [LastIp], [Department]) VALUES (-3, N'employee', N'1234', N'Employee', CAST(N'2025-08-19T10:27:06.3933333' AS DateTime2), N'0.0.0.0', N'::1', N'')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [LastLogin], [IpAddress], [LastIp], [Department]) VALUES (-2, N'supervisor', N'1234', N'Supervisor', CAST(N'2025-08-20T10:14:00.8100000' AS DateTime2), N'0.0.0.0', N'::1', N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Department]
GO
USE [master]
GO
